.auth-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.auth-box ::deep form {
    display: block;
}

.auth-button-box {
    margin-bottom: 30px;
}

    .auth-button-box ::deep * {
        font-style: normal;
        font-weight: normal;
        font-size: 3rem;
        line-height: 5rem;
    }

::deep .auth-button {
    border-radius: 9px;
    margin-right: 20px;
    font-family: Bai Jamjuree;
    text-decoration: none;
    padding: 0 20px;
}

::deep .auth-button {
    display: inline-block;
    transition: .5s;
    /* max-width: 45%; */
}

    ::deep .auth-button.active {
        display: inline-block;
        background-color: #AEC55D;
        color: #FFF;
    }

    ::deep .auth-button:not(.active) {
        transform: scale(.8);
        background-color: #739C3E;
        color: #000;
    }

::deep .auth-form-box {
    margin-bottom: 20px;
}

::deep .auth-form {
    display: block;
    margin-top: 10px;
}

::deep .validation-message {
    display: inline;
}
