@inherits LayoutComponentBase
@layout SingleLayout

<div class="form-bg">
    <div class="row">
        <div class="col-6 auth-box">
            <div class="auth-button-box">
                <NavLink href="register" class="auth-button">Sinn Up</NavLink>

                <NavLink href="login" class="auth-button">Log in</NavLink>
            </div>

            @Body

        </div>
    </div>
</div>


