@page "/"
@page "/index"

@layout LandingLayout

<header class="landing-hero">
    <div class="row">
        <div class="col-6">
            <img src="images/slider1cut-sm.png" alt="" style="min-height: 600px;">
        </div>
        <div class="col-6 p-0">
            <div class="title-box absolute-center">
                <h1>Garbage Cam</h1>
                <p>Lorem ipsum, dolores ekwa do potenti domenus necum</p>
                <div class="button-main">Zobacz</div>
            </div>
        </div>
    </div>

    <div id="landing-circle-1"></div>
</header>

<section class="issue-section relative">
    <div class="row">
        <div class="col-7 relative" style="display: flex; align-items: center; justify-content: center;">
            <div class="text-box">
                <h2 class="section-title">Śmieciowe problemy</h2>
                <b>Jaki Problem rozwiązujemy?</b>
                <p>
                    Dzisiejszy świat ma wiele problemów. Jednym z nich jest ogrom śmieci zalegających na ulicach.
                    Śmieci
                    nie tylko szpecą miasto, ale również mogą zagrażać zarówno florze jak i faunie.
                </p>
                <span class="divider"></span>
            </div>
        </div>
        <div class="col-5">
            <img src="images/pani_z_butlami-sm.png" alt="" class="feature-image">
        </div>
    </div>

    <div id="landing-circle-2"></div>
</section>

<section class="about-section relative">
    <div class="img-about-bgc absolute"></div>
    <div class="row">
        <div class="about-box col-3">
            <div class="about-tile relative">
                <p class="about-number">1</p>
                <b>Hello World</b>
                <p>
                    Każdy z was, drodzy użytkownicy, będzie mógł przyczynić się do poprawy jakości naszej wspólnej
                    przestrzeni życiowej.
                </p>
            </div>
        </div>

        <div class="about-box col-3">
            <div class="about-tile relative">
                <p class="about-number">1</p>
                <b>Hello World</b>
                <p>
                    Każdy z was, drodzy użytkownicy, będzie mógł przyczynić się do poprawy jakości naszej wspólnej
                    przestrzeni życiowej.
                </p>
            </div>
        </div>

        <div class="about-box col-3">
            <div class="about-tile relative">
                <p class="about-number">1</p>
                <b>Hello World</b>
                <p>
                    Każdy z was, drodzy użytkownicy, będzie mógł przyczynić się do poprawy jakości naszej wspólnej
                    przestrzeni życiowej.
                </p>
            </div>
        </div>
    </div>
</section>
