.landing-hero img {
    width: 80vw;
    position: relative;
}

#landing-circle-1 {
    position: absolute;
    width: 458px;
    height: 458px;
    right: -5%;
    bottom: -10%;
    background: #AEC55D;
    opacity: 0.15;
    border-radius: 50%;
    z-index: -1;
}

#landing-circle-2 {
    position: absolute;
    width: 304px;
    height: 304px;
    left: 30%;
    bottom: -30%;
    background: #739C3E;
    border-radius: 50%;
    opacity: 0.15;
    z-index: -1;
}

.landing-hero .col-6 {
    position: relative;
}

.title-box {
    top: 38%;
    text-align: right;
}

    .title-box h1 {
        font-size: 70px;
        color: var(--dark-green);
        font-weight: 400;
        transform: translateY(30px);
        animation: slideTitle .4s linear forwards;
        animation-delay: .2s;
    }

    .title-box p {
        animation: slideP .4s linear forwards;
        animation-delay: .6s;
    }

    .title-box .button-main {
        transform: translateY(-30px);
        animation: slideButton .8s linear forwards;
        animation-delay: .2s;
    }

.issue-section {
    text-align: center;
    padding: 0 30px;
}

.section-title {
    font-size: 42px;
    color: #739C3E;
    font-weight: 500;
}

.issue-section b {
    font-weight: bold;
    font-size: 18px;
    color: #646464;
    padding: 20px 0;
    display: block;
}

.issue-section .text-box {
    width: 70%;
    padding-top: 150px;
}

.feature-image {
    height: 600px;
    padding-top: 50px;
}

.divider {
    height: 3px;
    background-color: #739C3E;
    width: 80%;
    display: inline-block;
}

.about-section {
    height: 800px;
}

.img-about-bgc {
    height: 350px;
    background-image: linear-gradient(to right, rgb(175, 197, 93, 0.7), rgb(175, 197, 93, 0.7)), url('images/trash-bgc-sm.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    top: 250px;
}

.about-tile {
    background-color: #fff;
    padding: 30px 40px;
    position: relative;
    text-align: center;
    border-radius: 10px;
}

    .about-tile p {
        padding: 0;
        font-size: 18px;
        line-height: 25px;
    }

        .about-tile p.about-number {
            font-weight: bold;
            font-size: 31px;
            line-height: 52px;
            text-align: center;
            color: #B7B7B7;
            display: inline-block;
            position: absolute;
            top: 0;
            left: 15px;
        }

    .about-tile b {
        font-weight: 600;
        font-size: 28px;
        line-height: 45px;
        text-align: center;
        color: #000000;
        display: block;
        margin-bottom: 15px;
    }

.about-section .row {
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
}

.about-box p {
    color: #000;
}

.about-box:nth-of-type(1) {
    transform: translateY(50%);
}

.about-box:nth-of-type(2) {
    transform: translateY(120%);
}

.about-box:nth-of-type(3) {
    transform: translateY(190%);
}

@keyframes slideTitle {
    0% {
        transform: translateY(30px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes slideP {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(50px);
    }
}

@keyframes slideButton {
    0% {
        transform: translate(0, -30px);
    }

    50% {
        transform: translate(0, 0)
    }

    100% {
        transform: translate(100px, 0);
    }
}

@media screen and (max-width: 1710px) {
    .landing-hero img {
        width: 75vw;
    }
}

@media screen and (min-width: 1100px) {
    .title-box {
        min-width: 435px;
    }
}

@media screen and (max-width: 1400px) {

    .title-box h1 {
        font-size: 60px;
    }

    .landing p {
        font-size: 19px;
        padding: 15px 0;
    }

    .title-box .button-main {
        font-size: 19px;
        padding: 3px 20px;
    }

    .title-box {
        left: 40%
    }
}

@media screen and (min-width: 1101px) and (max-width: 1300px) {
    .landing-hero img {
        width: 70vw;
        transform: translateX(-15%);
    }

    .title-box {
        width: 100%;
        left: 12%
    }
}

@media screen and (min-width: 900px) and (max-width: 1100px) {
    .landing-hero img {
        width: 60vw;
        transform: translateX(-15%);
    }

    nav {
        display: none;
    }

    .title-box {
        width: 90%;
        left: 15%
    }

        .title-box h1 {
            font-size: 40px;
            /* animation: none; */
            /* transform: translate(0, 0); */
        }

    .landing p {
        font-size: 19px;
        padding: 17px 0;
        line-height: 18px;
        /* animation: none; */
        /* transform: translate(0, 0); */
    }

    .title-box .button-main {
        font-size: 19px;
        padding: 3px 20px;
        /* animation: none; */
        /* transform: translate(0, 0); */
    }
}

@media screen and (max-width: 900px) {
    .landing-hero img {
        width: 60vw;
        transform: translateX(-15%);
    }

    nav {
        display: none;
    }

    .title-box {
        width: 100% !important;
        left: 10%;
        top: 50%;
    }

        .title-box h1 {
            font-size: 35px;
            /* animation: none; */
            /* transform: translate(0, 0); */
        }

    .landing p {
        font-size: 16px;
        padding: 10px 0;
        line-height: 18px;
        /* animation: none; */
        /* transform: translate(0, 0); */
    }

    .title-box .button-main {
        font-size: 16px;
        padding: 2px 15px;
        /* animation: none; */
        /* transform: translate(0, 0); */
    }
}
