::deep input::-webkit-outer-spin-button,
::deep input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

::deep input[type=number] {
    -moz-appearance: textfield;
}

td {
    padding: .5rem;
    border: #999 .5px dotted;
}
