@page "/login"
@layout AuthLayout

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.WebUtilities
@using System.Web

@inject NavigationManager navMan
@inject ILoginManager logMan

<EditForm Model="model" class="auth-form" OnValidSubmit="HandleSubmit">
    <DataAnnotationsValidator />
    <div class="auth-form-box">
        <label>
            Email address: <ValidationMessage For="@(() => model.Email)" />
            <InputText @bind-Value="model.Email" />
        </label>
    </div>
    <div class="auth-form-box">
        <label>
            Password: <ValidationMessage For="@(() => model.Password)" />
            <InputText type="password" @bind-Value="model.Password" />
        </label>
    </div>
    <div class="auth-form-box">
        <button type="submit" class="submit">Log in</button>
    </div>
</EditForm>


@code {
    class LoginModel
    {
        [Required( AllowEmptyStrings = false, ErrorMessage = "email is required" )]
        [EmailAddress( ErrorMessage = "this is not a valid email address" )]
        public string Email { get; set; }

        [Required( AllowEmptyStrings = false, ErrorMessage = "password is required" )]
        [MinLength( 8, ErrorMessage = "password must be at least 8 characters long" )]
        public string Password { get; set; }
    }

    private readonly LoginModel model = new();

    private async Task HandleSubmit()
    {
        await logMan.Login( model.Email, model.Password );

        string cont = null;

        var uri = new Uri( navMan.Uri );
        var queryStrings = QueryHelpers.ParseQuery( uri.Query );
        if ( queryStrings.TryGetValue( "continue", out var c ) )
        {
            cont = HttpUtility.UrlDecode( c );
        }

        navMan.NavigateTo( cont ?? "/" );
    }
}
