.login-bg {
    width: 80vw;
    height: 80vh;
    background-color: #D0D0D0;
    border-radius: 10px;
    
    transform: translate(-50%, calc(-50% + 20px));
    
    padding: 60px 80px;
}

.auth-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.auth-button-box {
    margin-bottom: 30px;
}

.auth-button-box * {
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 87px;
}

.auth-box .auth-button.active {
    display: inline-block;
    background: #AEC55D;
    border-radius: 9px;
    
    margin-right: 20px;
}
.auth-box .auth-button {
    display: inline-block;
    background-color: #739C3E;
    border-radius: 9px;
    margin-right: 20px;
    color: #FFF;
    /* max-width: 45%; */
}

.auth-box .auth-button.active a {
    color: #FFF;
    text-decoration: none;
    padding: 20px 20px;
}

.auth-box .auth-button a {
    color: #000;
    text-decoration: none;
    padding: 20px 20px;
}

.auth-box form {
    display: block;
}

.auth-form {
    display: block;
    margin-top: 50px;
}
.auth-form-box {
    margin-bottom: 40px;
}

.auth-form input {
    display: block;
    background-color: #D0D0D0;
    border: none;
    border-bottom: 2.5px solid #A6A289;
    width: 350px;
    outline: none;
    line-height: 36px;
    padding: 10px 5px;
    padding-bottom: none;
}
