body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;

    background-color: #E5E5E5;
    font-family: Bai Jamjuree;
}

.pl-sm {
    padding-left: 30px !important;
}


#bgc {
    position: absolute;
    background-color: #E5E5E5;
    height: 100vh;
    width: 100vw;
    z-index: -3;
 }
   
 #bgc #circle-1 {
    height: 320px;
    width: 320px;
    border-radius: 50%;
    position: fixed;
    top: -5%;
    left: 55%;
    background-color: #708262;
    opacity: 0.15;
 }
   
 #bgc #circle-2 {
    width: 988px;
    height: 988px;
    position: fixed;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    background: #DCD294;
    opacity: 0.15;
 }


.navbar-single {
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

nav .logo {
    height: 66px;
    display: inline-block;
}

nav h3 {
    display: inline-block;
    padding-left: 10px;

    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 31px;
    text-align: center;
}

nav .link-box {
    display: flex;
    justify-content: flex-end;
}

nav .link-box a {
    color: #000000;
    text-decoration: none;
}

nav .link-box .button-capsule {
    padding: 4px 25px;
    background: #739C3E;
    border-radius: 22px;
    color: #FFFFFF;
    font-weight: normal;
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
