@inherits LayoutComponentBase

@using HackathonE1.Website.Client.Shared.Navbars

<div class="page container-fluid">
    <NavNormal />

    <div class="row flex-grow-1 py-2 flex-column align-content-center row-no-pad">
        @Body
    </div>
</div>
