@inject AuthenticationStateProvider auth

<nav class="navbar-single">
    <a href="/">
        <img src="images/Logo.png" class="logo" alt="Logo">
        <h3>Garbage Cam</h3>
    </a>
</nav>

<nav class="navbar-landing">
    <div class="row">
        <div class="col-6">
            <div class="col-2">
                <div class="row link-box">
                    <NavLink href="observed">observed areas</NavLink>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row link-box">
                <div class="col-2">
                    <NavLink href="purpose">Purpose</NavLink>
                </div>
                <div class="col-2">
                    <NavLink href="tech">Tech</NavLink>
                </div>
                <div class="col-2">
                    <NavLink href="team">Team</NavLink>
                </div>
                <div class="col-2">
                    <NavLink href="garbage">Garbage</NavLink>
                </div>
                <div class="col-3">
                    <AuthorizeView>
                        <Authorized>
                            <button @onclick="Logout" class="button-capsule">Log out</button>
                        </Authorized>
                        <NotAuthorized>
                            <NavLink href="register" class="button-capsule">Sign-Up</NavLink>
                        </NotAuthorized>
                    </AuthorizeView>
                </div>
            </div>
        </div>
    </div>
</nav>

@code {

    private async Task Logout()
    {
        await Task.CompletedTask;
        var jwtAuth = auth as JwtAuthenticationStateProvider;
        jwtAuth.Token = null;
    }

    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
