@*<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">HackathonE1.Website</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>
    </ul>
</div>*@
<nav class="navbar-single">
    <a href="/">
        <img src="images/Logo.png" class="logo" alt="Logo">
        <h3>Garbage Cam</h3>
    </a>
</nav>

<nav class="navbar-landing">
    <div class="row">
        <div class="col-6"></div>
        <div class="col-6">
            <div class="row link-box">
                <div class="col-2">
                    <NavLink href="purpose">Purpose</NavLink>
                </div>
                <div class="col-2">
                    <NavLink href="tech">Tech</NavLink>
                </div>
                <div class="col-2">
                    <NavLink href="team">Team</NavLink>
                </div>
                <div class="col-2">
                    <NavLink href="garbage">Garbage</NavLink>
                </div>
                <div class="col-3">
                    <NavLink href="register" class="button-capsule">Sign-Up</NavLink>
                </div>
            </div>
        </div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
