<nav class=" justify-content-md-between navbar-normal row flex-md-row flex-column">
    <div>
        <a href="/">
            <img src="images/Logo-sm.png" alt="Logo" class="logo">
            <h3>Garbage Cam</h3>
        </a>
    </div>
    <div class="row align-items-center p-0 m-0 flex-md-row flex-column">
        <AuthorizeView>
            <Authorized>
                <div>
                    <NavLink href="observed">Observed areas</NavLink>
                </div>
                <div>
                    <NavLink href="issues">Issues</NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        <div>
            <NavLink href="purpose">Purpose</NavLink>
        </div>
        <div>
            <NavLink href="tech">Tech</NavLink>
        </div>
        <div>
            <NavLink href="team">Team</NavLink>
        </div>
        <div>
            <NavLink href="garbage">Garbage</NavLink>
        </div>
        <div>
            <LogInButton />
        </div>
    </div>
</nav>
