@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    background-color: #E5E5E5;
}

button {
    border: none;
}

.flex-spacer {
    flex-grow: 100;
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-bg {
    width: 80vw;
    height: 80vh;
    background-color: #D0D0D0;
    border-radius: 10px;
    padding: 60px 80px;
}

button.submit {
    border-radius: 9px;
    margin-right: 20px;
    font-family: Bai Jamjuree;
    text-decoration: none;
    padding: 0 20px;
}

button.submit {
    background-color: #AEC55D;
    color: #FFF;
    border: none;
    font-size: 1.5rem;
}

input {
    display: block;
    background-color: #D0D0D0;
    border: none;
    border-bottom: 2.5px solid #A6A289;
    width: 350px;
    outline: none;
    line-height: 36px;
    padding: 10px 5px;
    padding-bottom: 0;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
